.label {
  font-size: 12px;
  color: #fff;
  opacity: .4;
}

.input {
  box-sizing: border-box;
  border: none; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: block;
  background: transparent;
  width: 552px;
  padding: 15px 0;
  color: #fff;
  outline: none;
  font-size: 16px;
}

.input.error {
  border-bottom: 1px solid #EF2E2E;
}

.inputContainer {
  position: relative;
}

.inputContainer[data-required=true]::after {
  content: '*';
  position: absolute;
  right: 0;
  top: 0;
  color: #EF2E2E;
  font-size: 12px;
}

.inputContainer:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1150px) {
  .input[disabled] {
    display: none;
  }
}