.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 157px;
  padding: 0 16px;
}

.mainTitle {
  font-size: 28px;
  color: #2BF12E;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  position: relative;
  z-index: 999;
  color: #fff;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.lottiContainer {
  width: 150px;
}

.featureCard {
  position: relative;
  /* width: 229px; */
  max-width: 304px;
  /* margin-right: 65px; */
  padding: 0 23px 72px;
}

.featureCard:not(:last-child) {
  margin-right: 30px;
}

.greenLine {
  position: absolute;
  bottom: 170px;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background:  #2BF12E;
  transition: 2s bottom;
}

.greenLine.active {
  bottom: 0;
  opacity: 1;
}

.greenLine::before {
  content: '';
  position: absolute;
  left: -24px;
  bottom: 24px;
  transform: rotate(90deg);
  width: 50px;
  background: #2BF12E;
  height: 2px;
}

.greenLine::after {
  content: '';
  position: absolute;
  right: -24px;
  bottom: 24px;
  transform: rotate(90deg);
  width: 50px;
  background: #2BF12E;
  height: 2px;
}

.shadowRight,
.shadowLeft {
  top: -122px;
  height: 100px;
  width: 19px;
  z-index: 99;
}

.shadowLeft {
  left: -12px;
}

.shadowRight {
  left: calc(100% - 12px);
}

.titleContainer {
  margin: 48px 0 16px;
}

.lastCard {
  width: 209px;
}

.button {
  font-size: 14px;
}

.paragraph {
  margin: 16px 0 80px;
}

/* .externalContainer {
  width: 280px;
} */

.paragraphTop {
  margin-bottom: 97px;
}

.mobileParagraph {
  display: none;
  text-align: center;
  padding: 50px 16px 20px;
}

@media screen and (max-width: 1208px) {
  .featuresContainer {
    margin-top: 15px;
  }

  .mobileParagraph {
    display: block;
  }

  .paragraph {
    margin: 16px 0 0;
  }

  .paragraphTop {
    display: none;
  }

  .lastCard {
    text-align: center;
    margin: 30px auto 0;
    max-width: 500px;
    width: auto;
  }

  .featureCard {
    margin-right: 0;
  }
}

@media screen and (max-width: 950px) {
  .featuresContainer {
    flex-direction: column;
    align-items: center;
  }

  .featureCard {
    text-align: center;
  }

  .featureCard {
    margin-bottom: 40px;
  }

  .lottiContainer {
    margin: 0 auto;
  }
}